<!DOCTYPE html>
<html>
<body>
  <form>
  <div class="container">
    <div class="info">

    <div class="column">
        <div class="section">
          <h3>Licni Podaci</h3>
          <label for="firstName">Ime</label>
          <input type="text" id="firstName" name="firstName" required>

          <label for="lastName">Prezime</label>
          <input type="text" id="lastName" name="lastName" required>

          <label for="password">Lozinka</label>
          <input type="password" id="password" name="password" required>

          <label for="repeatPassword">Ponovite Lozinku</label>
          <input type="password" id="repeatPassword" name="repeatPassword" required>
        </div>
      </div>
      <div class="column">
        <div class="section">
          <h3>Kontakt Informacije</h3>
          <label for="email">Email Adresa</label>
          <input type="text" id="email" name="email" required>

          <label for="phone">Broj Telefona</label>
          <input type="text" id="phone" name="phone" required>

          <label for="fax">Fax</label>
          <input type="text" id="fax" name="fax">
        </div>
      </div>

      <div class="column">
        <div class="section">
          <h3>Address Information</h3>
          <label for="street">Ulica</label>
          <input type="text" id="street" name="street" required>

          <label for="number">Broj</label>
          <input type="text" id="number" name="number" required>

          <label for="city">Grad</label>
          <input type="text" id="city" name="city" required>

          <label for="code">Postanski Kod</label>
          <input type="text" id="code" name="code" required>

          <label for="state">Drzava</label>
          <input type="text" id="state" name="state" required>
        </div>
      </div>
    </div>
    <div class="buttons">
      <button type="submit" 
              class="btn"
              (click)="registerFunc()">
        Registruj se
      </button>
      <button type="submit" 
              class="btn"
              id="login-btn"
              (click)="loginPage()">
        Povratak na Prijavu
      </button>
    </div>
  </div>

  </form>
  </body>
</html>
